<label class="ui button" style="cursor:pointer;">Pick a file not your nose</label>
<input onchange={{action "filesDidChange"}}
       type="file"
       style="width:0.1px; height:0.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1;">
